version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      gha-dependencies:
        applies-to: "version-updates"
        patterns:
          - "*"
